<?php /** @var $block \Swissclinic\GoogleTagManager\Block\GoogleTagManager */ ?>
<?php $_gtmId = $block->getId(); ?>
<?php if (isset($_gtmId)): ?>
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<?= $_gtmId ?>" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<?php endif; ?>